@charset "utf8";

@import "../node_modules/bulma/sass/helpers/color.sass";

$scheme-main: $black-ter;
$code: $grey-light;
$code-background: $black;
$pre: $grey-light;
$pre-background: $black;
$text: $grey;
$link: $purple;
$primary: #b67701;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";

// @import "../node_modules/bulma/sass/components/_all.sass";

// @import "../node_modules/bulma/sass/elements/_all.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/other.sass";

// @import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/helpers/visibility.sass";
// @import "../node_modules/bulma/sass/helpers/float.sass";
// @import "../node_modules/bulma/sass/helpers/other.sass";
@import "../node_modules/bulma/sass/helpers/flexbox.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
// @import "../node_modules/bulma/sass/helpers/overflow.sass";
// @import "../node_modules/bulma/sass/helpers/position.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";

// @import "../node_modules/bulma/sass/grid/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

// @import "../node_modules/bulma/sass/layout/_all.sass";

.posted-on-date {
	font-size: 0.75rem;
}

.last-modified-date {
	font-size: .825rem;
	font-weight: $weight-semibold;
}

strong {
	color: $grey-dark;
	font-weight: $weight-bold;
}

.content {
	font-size: $size-6;
}

.content h1 {
	color: $text;
	font-weight: $weight-semibold;
	color: $primary;
}

.content h2 {
	color: $text;
	font-weight: $weight-semibold;
}

.content h3 {
	color: $text;
	font-weight: $weight-semibold;
}

.content h4 {
	color: $text;
	font-weight: $weight-semibold;
}

.content h5 {
	color: $text;
	font-weight: $weight-semibold;
}

.content h6 {
	color: $text;
	font-weight: $weight-semibold;
}

.content ol {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.content ul {
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.card {
	border-radius: 0.5rem;
	padding: 0.5rem;
	margin-right: 0.5rem;
	margin-left: 0.5rem;
	height: 100%;
}

.card .card-header-title {
	font-size: $size-4;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

pre {
	font-size: $size-6;
	border-radius: 0.5rem;
	margin: 1rem;
}

code {
	border-radius: 0.5rem;
}

.MathJax .MJX-TEX {
	background-color: $black;
	border-radius: 0.5rem;
	padding: 0.5rem !important;
}

.home {
	padding: 0 2rem 0 2rem;
}

.post {
	padding: 0 2rem 0 2rem;
}

.profile-container figure img {
	height: 100%;
	width: auto;
}

div.content p.standout {
	padding-left: 1.5rem;
	font-style: italic;
	font-size: $size-5;
}

div.content p.standout::before {
	content: "|";
	padding-right: 0.5rem;
	font-weight: $weight-bold;
	font-style: normal;
}

ul.bullet-list li::before {
	content: "»";
	font-weight: $weight-semibold;
	padding-right: 0.5rem;
}

.bullet-item::before {
	content: "»";
	font-weight: $weight-semibold;
	padding-right: 0.5rem;
}

#resume .section {
	padding: $size-5;
}

#resume .emph {
	font-style: italic;
}
