---
layout: default
---

<div class="home">
	<div class="container is-max-desktop py-6">
		<div class="columns">
			<div class="column is-flex is-flex-direction-row is-justify-content-center">
				<figure class="image">
					<img src="/assets/myface.jpg" alt="Ben Little grins for the camera.">
				</figure>
			</div> 
			<div class="column">
				<div class="px-3">
				{%- if page.title -%}
					<h1 class="is-size-3 has-text-weight-semibold has-text-warning-dark">{{ page.title | escape }}</h1>
				{%- endif -%}
					<div class="content">
						{{ content }}
					</div> 
				</div> 
			</div> 
		</div> 
	</div> 


	<section class="section">
		<div class="container is-max-desktop">
			<div>
				<h2 class="is-size-2 has-text-weight-semibold has-text-grey-dark">
					Notes
				</h2>
				<div class="block m-5 has-text-grey">
					<p>{{ site.notes_tagline | escape}}</p>
				</div>
			</div>

		{% if site.paginate %}
			{% assign posts = paginator.posts %}
		{% else %}
			{% assign posts = site.posts %}
		{% endif %}

		{%- if posts.size > 0 -%}
			{%- if page.list_title -%}
			<h2 class="post-list-heading">{{ page.list_title }}</h2>
			{%- endif -%}
			{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<div class="columns">
			{%- for post in posts -%}
				<div class="column">
					<div class="box has-background-grey-darker">
						<h3>
							<a class="post-link is-size-4" href="{{ post.url | relative_url }}">
								{{ post.title | escape }}
							</a>
						</h3>
						<div class="block is-flex is-flex-direction-column">
							<p class="posted-on-date">Posted On: {{ post.date | date: date_format }}</p>
							<p class="last-modified-date">Last Modified: {{ post.modified | date: date_format }}</p>
						</div>
						{%- if site.show_excerpts -%}
							{{ post.excerpt }}
						{%- endif -%}
					</div>
				</div>
			{%- endfor -%}
			</div>
			{% if site.paginate %}
				<div class="pager">
					<ul class="pagination">
					{%- if paginator.previous_page %}
						<li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
					{%- else %}
						<li><div class="pager-edge">•</div></li>
					{%- endif %}
						<li><div class="current-page">{{ paginator.page }}</div></li>
					{%- if paginator.next_page %}
						<li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
					{%- else %}
						<li><div class="pager-edge">•</div></li>
					{%- endif %}
					</ul>
				</div>
			{%- endif %}

		{%- endif -%}
		</div> 
	</section>

</div>