---
layout: default
---

<div class="home">

	<section class="section">
		<div class="container is-max-desktop">
			<div class="columns my-5">
				<div class="column is-flex is-flex-direction-column">
					<div class="column is-align-self-center">
						<figure class="image">
							<img src="/assets/myface.jpg" alt="Ben Little grins for the camera.">
						</figure>
					</div>
					<div class="column is-align-self-center">
						<div class="container is-align-self-center">
{%- if page.title -%}
							<div class="container pb-3">
								<div class="content">
									<h1 class="is-size-3 has-text-weight-semibold">{{ page.title | escape }}</h1>
								</div>
							</div>
{%- endif -%}

{%- if page.contact_info %}
							<div class="container pb-3">
								<h3 class="is-size-5">Contact</h3>
								<ul class="bullet-list py">
	{%- for info in page.contact_info %}
									<li class="py-1">
										<a class="is-align-self-center" href="{{ info.link }}" target="_blank">
											{{ info.text | escape }}
										</a>
									</li>
	{%- endfor %}
								</ul>
							</div>
{%- endif %}

{%- if page.documents %}
							<div class="container pb-3">
								<h3 class="is-size-5">Documents</h3>
								<ul class="bullet-list">
	{%- for doc in page.documents %}
									<li class="py-1"><a class="is-align-self-center" href="{{ doc.link }}">{{ doc.text | escape }}</a></li>
	{%- endfor %}
								</ul>
							</div>
{%- endif %}

						</div>
					</div> 
				</div> 

				<div class="column columns">
					<div class="column is-align-self-center">
						<div class="content">
{{ content }}
						</div> 
					</div> 
				</div> 

			</div> 
		</div>
	</section>

	<section class="section">
		<div class="container is-max-desktop">
			<div>
				<h2 class="is-size-2 has-text-weight-semibold has-text-grey-dark">
					Notes
				</h2>
				<div class="block m-5 has-text-grey">
					<p>{{ page.notes_tagline | escape}}</p>
				</div>
			</div>

{% if site.paginate %}
	{% assign posts = paginator.posts %}
{% else %}
	{% assign posts = site.posts %}
{% endif %}

{%- if posts.size > 0 -%}
	{%- if page.list_title -%}
			<h2 class="post-list-heading">{{ page.list_title }}</h2>
{%- endif -%}
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
			<div class="columns is-multiline">
{%- for post in posts -%}
				<div class="column is-one-third">
					<div class="card has-background-grey-darker">
						<header class="card-header">
							<p class="card-header-title">
								<a class="post-link" href="{{ post.url | relative_url }}">
									{{ post.title | escape }}
								</a>
							</p>
						</header>
						<div class="card-content">
							<div class="content">
	{%- if site.show_excerpts -%}
									{{ post.excerpt }}
	{%- endif -%}
							</div>
						</div>
						<footer class="card-footer">
							<p class="posted-on-date">
								Posted On: {{ post.date | date: date_format }}
							</p>
							<p class="last-modified-date">
								Last Modified: {{ post.modified | date: date_format }}
							</p>
						</footer>
					</div>
				</div>
{%- endfor -%}
			</div>
{% if site.paginate %}
				<div class="pager">
					<ul class="pagination">
	{%- if paginator.previous_page %}
						<li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
	{%- else %}
						<li><div class="pager-edge">•</div></li>
	{%- endif %}
						<li><div class="current-page">{{ paginator.page }}</div></li>
	{%- if paginator.next_page %}
						<li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
	{%- else %}
						<li><div class="pager-edge">•</div></li>
	{%- endif %}
					</ul>
				</div>
	{%- endif %}

{%- endif -%}
		</div> 
	</section>

</div>